/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$white: #FFF;
$black: #000;
$black-39: #393939;


$grey: #737373;
$dark-grey: #141414;
$grey-mix: #736D6D;

$light-grey: #F2F2F2;
$light-brown: #D9BF8F;
$light-orange: #EF9D65;
$orange: #EE8945;
$yellow: #FEAB12;

$gray-7f: #7F7E7E;
$gray-32: #323030;
$gray-ea: #EAEAEA;


/* ---- Text ---- */

// Font Family

$playfair-display: 'Playfair Display', 'serif';

$lato: 'Lato', sans-serif;


/* ---- White Space and widths---- */
$ws-xs: 50px;
$ws-s: 65px;
$ws-m: 100px;
$ws-l: 160px;


/* ---- Other ---- */
$hr-color: #CCC;
$name: 'animate';

/* ---- Media Queries Breakpoints ---- */
$screen-xs: 600px;
$screen-sm: 770px;
$screen-md: 992px;
$screen-lg: 1260px;
$screen-xlg: 1440px;

